body {
  font-family: "raleway", serif;
  margin: 0;
  padding: 0;
}

.raleway-bold {
  font-weight: bold;
}

main {
  display: flex;
}

.contact-list {
  background-color: white;
  height: 100vh;
  min-width: 200px;
}

.content-box {
  background-color: #f8fafc;
  width: 100%;
  position: relative;
}

.content-box .content-main-card {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 95%;
  margin: 2%;
  border-radius: 1rem;
}

.content-box .content-main-card .empty-state-logo {
  background-color: #86efac;
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box .content-main-card p,
h2 {
  text-align: center;
}

.user-navbar {
  /*background-color: aliceblue;*/
  height: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #cbd5e1;
}

.user-navbar .user-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7rem;
}

.user-navbar .user-info img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  outline: 2px solid #4f46e5;
}

.user-data {
  margin-left: 0.5rem;
}

.user-navbar .user-menu {
  display: flex;
  justify-content: space-between;
}

.contact-list {
  display: flex;
  flex-direction: column;
}

.new-chat-button-container {
  height: 5rem;
  background-color: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #cbd5e1;
}

.new-chat-button {
  background-color: #6366f1;
  color: white;
  padding: 0.3rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 0.8rem;
}

.new-chat-button:hover {
  outline: 2px solid #a5b4fc;
  outline-offset: 1px;
  cursor: pointer;
}

.contact-chat-list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: scroll;
}

.contact-chat-list .contact-info {
  width: 100%;
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: 1px solid #cbd5e1;
}

.contact-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.contact-data .contact-name {
  width: 120px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-data .contact-last-message {
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-chat-list img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  outline: 2px solid #a5b4fc;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.contact-info .contact-data {
  font-size: 0.9rem;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #dbe2e6 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #dbe2e6;
  border-radius: 10px;
  border: 3px none #ffffff;
}
